.dependencies {
  margin-top: 1.25rem;
}

.dependency-title {
  float: unset;
}

.dependency-list {
  margin-top: 1.25rem;
  display: inline-block;
}

.package-item > button {
  padding: 0 0.35rem;
}

.package-item {
  margin: 0 0.5rem;
}
