.packages-table-card {
    .card-title .form-group {
        margin-bottom: 0;
        margin-right: 5px;
        display: inline-block;
    }

    .Description,
    .description {
        .collapsing {
            transition: all .4s; 
        }
    
        button .collapsing {
            transition: none; 
        }
        
        @media screen and (max-width: 750px) {
            display: none;
        }
    }
}
