.packages-table-card {
    .card-title .form-group {
        margin-bottom: 0;
        margin-right: 5px;
        display: inline-block;
    }

    .Description,
    .description {
        @media screen and (max-width: 750px) {
            display: none;
        }
    }
}
